<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="AllTests" verbose="2" parallel="tests" thread-count="2">
    <!-- Listeners -->
    <listeners>
        <!-- Allure TestNG listener for reporting -->
        <listener class-name="io.qameta.allure.testng.AllureTestNg"/>

        <!-- Custom listener for logging, screenshots, etc. -->
        <listener class-name="utils.Listeners"/>
    </listeners>

    <!-- Employee Tests -->
    <test name="EmployeeTests" parallel="classes" thread-count="2">
        <classes>
            <class name="tests.EmployeeCreationTest"/>
        </classes>
    </test>

    <!-- Login Tests -->
    <test name="LoginTests" parallel="classes" thread-count="2">
        <classes>
            <class name="tests.LoginPositiveTest"/>
            <class name="tests.LoginNegativeTest"/>
        </classes>
    </test>
</suite>
